storage "gcs" {
  bucket = "{{ bucket }}"
  chunk_size = "1024"
}

# storage "file" {
#   path = "/vault/config/data"
# }

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = true
}

seal "gcpckms" {
  project = "{{ gcp.project }}"
  region = "{{ gcp.encryptionKey.location }}"
  key_ring = "{{ gcp.encryptionKey.keyringId }}"
  crypto_key = "{{ gcp.encryptionKey.cryptoKeyId }}"
}

api_addr = "http://127.0.0.1:8200"

disable_mlock = true

ui = true

log_level = "info"
